# BGG Python Files
bgg_integration/secrets/
bgg_integration/constants/column_names.py
*.env
*.secret.json

# Frontend Files
build/

# Tests and miscellaneous
frontend/node_modules/
frontend/build/

*.log
logs
npm-debug.log*
.idea/
prove/