# BGG Python Files
bgg_integration/secrets/
bgg_integration/constants/column_names.py
*.env
*.secret.json

# Frontend Files
build/
frontend/src/components/utils/build-date.ts
frontend/src/components/utils/column_names.ts

# Tests and miscellaneous
frontend/node_modules/
frontend/build/

.idea/
prove/
.vscode/

*.log
logs
npm-debug.log*
*.pyc