#sidebarWrapper {
        width: 16rem; /* default md:w-64 */
        transition: width 0.3s ease-in-out;
        /*overflow: hidden;*/
    }

#sidebarWrapper.collapsed {
    width: 0;
    padding: 0; /* optional: to collapse spacing too */
}

#sidebarWrapper.collapsed > div {
    padding-left: 0;
    padding-right: 0;
}

#sidebarWrapper > div {
    transition: width 0.3s ease-in-out;
}
