#sidebarWrapper {
        width: 16rem; /* default md:w-64 */
        transition: width 0.3s ease-in-out;
        /*overflow: hidden;*/
    }

#sidebarWrapper.collapsed {
    width: 0;
    padding: 0; /* optional: to collapse spacing too */
}

/*una mia prova per il bottone*/
#sidebarWrapper.cicckalo {
    background-color: #E22866;
    left: 120px; /* optional: to collapse spacing too */
}