body {
    background-color: midnightblue;
    color: lightyellow;
    margin: 0;
    font-family: "Merriweather", serif;
    text-align: center;
    padding: 0;
}

card {
    width: 25%;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

/*TABELLA*/
.tabella {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    background-color: #6bd3d4;
}

thead th:nth-child(1){width: 30%;}
thead th:nth-child(2){width: 8%;}
thead th:nth-child(3){width: 15%;}
thead th:nth-child(4){width: 15%;}
thead th:nth-child(5){width: 15%;}

table{
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        text-align: center;
        /*border: 1px solid black; bordo attorno alla tabella*/
    }

th, td{
    padding: 20px;
}

tbody {
    background-color: deeppink;
}
#div_tabella_giochi tbody tr {
    background-color: lightblue;
    border-bottom: 20px;
    border-collapse: separate;
}
#div_tabella_giochi tbody tr:nth-child(odd) {
    background-color: #3d606f;
}
tbody tr:nth-child(even) {
    background-color: red;
}