@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
}
body, html {
    height: 100%;
    font-family: sans-serif;
    scroll-behavior: smooth;
    color: #e1e1e1;
}

body h2 {
    font-size: 2em;
    font-weight: bold;
    line-height: 2;
    color: #bd5909; /* Tailwind orange-600 */
    text-align: center;
}

body h3 {
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
margin-bottom: 1rem;}

button {
    cursor: pointer;
}

.fittare {
    width: 100%;
    /*height: 100%;*/
    object-fit: fill;
}

.flex-o-center {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/*equivalent tailwind: flex flex-col items-center*/
.flex-v-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex1 {
    flex: 1;
    /*flex-grow: 1;*/
    /*flex-shrink: 1;*/
    /*flex-basis: 50%;*/
}
.my-flex-wrap {
    display: flex;
    flex-direction: column;
    align-items: center; /*  centers items on cross axis */
    justify-content: center; /*  centers items on main axis */
}
.switch {
    flex-direction: column-reverse;
}
@media (min-width: 768px) {
    .my-flex-wrap {
        justify-content: space-between;
        flex-direction: row;
    }
}

.h-1vh {
    height: 100vh;
    color: white;
}

.h-vh-2 {
    height: 50vh;
    color: white;
}

.red {
    background-color: crimson;
}

.white {
    background-color: white;
    color: black;
    z-index: 2;
    position: relative;
}

.meeple{
    background-color: #b7e4c7;
    max-width: 30rem;
    border-radius: 100%;
    overflow: hidden;
    padding-left: 1rem;
    padding-bottom: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}



/*-----------------------*/
/*        SIDEBAR        */
/*-----------------------*/

#sidebarWrapper {
    width: 16rem; /* default md:w-64 */
    transition: width 0.3s ease-in-out;
    /*overflow: hidden;*/
}

#sidebarWrapper.collapsed {
    width: 0;
    padding: 0; /* optional: to collapse spacing too */
}

#sidebarWrapper.collapsed > div {
    padding-left: 0;
    padding-right: 0;
}

#sidebarWrapper > div {
    transition: width 0.3s ease-in-out;
}

button.active, a.active{
    background-color: #bd5909; /* Tailwind orange-600 */
}

/*create a orange div with 0 width */
.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0.25rem;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #bd5909; /* #ea580c; !* Tailwind orange-600 *!*/
    transition: width 1s ease;
}

/*when hover or active make it larger*/
.nav-link:hover::after {
    width: 75%;
}

.nav-link.active::after {
    width: 75%;
    background-color: white;
}


/*-----------------------*/
/*        COLORS        */
/*-----------------------*/
/*D=dark, DD=Darker*/
/*M=Medium*/
/*L=Light*/

.greenD {
    background-color: #253b2f;
}

.greenDD {
    background-color: #1f3127;
}

.greenDDD {
    background-color: #1e2d24;
}

.greenM {
    background-color: #36543f;
}

.greenLL {
    background-color: #b7e4c7;
}

.opaco {
    opacity: 70%;
}