.scale-1 {
    transform: scale(0.94);
}

.scale-25 {
    transform: scale(0.25);
}

#popup-outer {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tuttorosso {
    background-color: red;
}

* {
    box-sizing: border-box;
}

.takes-all-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* MAIN CONTENT */
.main {
    /*position: relative;*/
    z-index: 1;
    height: 100%;
    /*overflow-y: auto;*/
    overflow-y: auto;
    padding: 2rem;
}

.main.locked {
    overflow: hidden;
}

/* SIDEBAR */
.sidebar {
    position: absolute;
    inset: 0;
    /*top: 0;*/
    /*left: 0;*/

    /*width: 100%;*/
    /*height: 100%;*/
    overflow-y: auto;
    background: #1e1e1e;
    color: white;
    z-index: 2;
    transition: transform 0.4s ease;
}
.sidebar.open {
    transform: translateX(0);
}

/* CLOSED STATE */
.sidebar.closed {
    transform: translateX(-100%);
    pointer-events: none;
}